- content_for :title, t("sign_in")
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %label
    %strong= t :email
    = f.email_field :email, :autofocus => true, autocapitalize: "off", placeholder: t(:email)
  %label
    %strong= t :password
    = f.password_field :password, placeholder: t(:password)
  - if devise_mapping.rememberable?
    %label.checkbox
      = f.check_box :remember_me
      %strong= t :remember_me
  .actions
    = f.submit "Sign in"
= render "devise/shared/links"
