- content_for :title, t("listing_cards")


- if @cards.empty?
  %section#cards.empty= t('none', model: Card.model_name.human)
- else
  %section#cards.table
    %header
      %div= Card.human_attribute_name(:name).titleize
      %div= Card.human_attribute_name(:position).titleize
      %div= Card.human_attribute_name(:club).titleize
      %div= Card.human_attribute_name(:manager_name).titleize
      %div= Card.human_attribute_name(:value).titleize
      %div= Card.human_attribute_name(:service_standard).titleize
      %div= Card.human_attribute_name(:from_name).titleize
      %div= Card.human_attribute_name(:from_email).titleize
      %div
    - @cards.each do |card|
      %section.card
        %div
          - if card.email
            = link_to card.name, "mailto:#{card.email}"
          - else
            = card.name
        %div= card.position
        %div= card.club.short
        %div= card.manager_name
        %div= Card::VALUES[I18n.locale][card.value]
        %div= Card::SERVICE_STANDARDS[I18n.locale][card.service_standard]
        %div= card.from_name
        %div= card.from_email
        %div.btns
          = link_to 'Show', card
          = link_to 'Edit', edit_card_path(card)
          = link_to 'Destroy', card, :method => :delete, :data => { :confirm => 'Are you sure?' }