!!!
%html{ lang: I18n.locale }
  %head
    %title= content_for?(:title) ? yield(:title) : "ESP-Pep"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "modernizr", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      %h1 
        =link_to "ESP-Pep", root_path
        = " : " + content_for(:title).titleize if content_for?(:title)
      =content_tag(:h2, content_for(:subtitle).titleize) if content_for?(:h2)
      %nav
        - if user_signed_in?
          = link_to Employee.model_name.human.pluralize.titleize, employees_path
          = link_to t("new",  model: Card.model_name.human).titleize, "/"
          = link_to Card.model_name.human.pluralize.titleize, "/admin/cards"
          = link_to t("sign_out",  default: "sign out").titleize, destroy_user_session_path, method: :delete
        - else
          = link_to t("admin"), new_user_session_path
    %main
      = yield
    %footer
      = I18n.t 'copyright'
    = javascript_include_tag "application", "data-turbolinks-track" => true
